@model IEnumerable<SMS.Models.CourseContent>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CourseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseLevel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClassId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseCatagory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Group)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CourseName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourseLevel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourseType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClassId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourseCatagory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Group)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CourseId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CourseId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CourseId })
        </td>
    </tr>
}

</table>
