@model IEnumerable<SMS.Models.RoomInformation>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RmRoomNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RmFloorNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RmCapacity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RmDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RmCampus)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RmRoomNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RmFloorNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RmCapacity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RmDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RmCampus)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RmRoomId }) |
            @Html.ActionLink("Details", "Details", new { id=item.RmRoomId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RmRoomId })
        </td>
    </tr>
}

</table>
