<div id="footer-body">
    <div class="row">
        <div class="col-md-12 col-sm-12" id="footer-links">
            <div class="col-md-3 col-sm-3 footer-panel">
                <div class="panel panel-primary">
                    <div class="panel-heading">Panel Heading</div>
                    <div class="panel-body foot-panel-links">
                        <ul>
                            <li>@Html.ActionLink("নীতিমালা", "Index", "Home")</li>
                            <li>@Html.ActionLink("নীতিমালা", "Index", "Home")</li>
                            <li>@Html.ActionLink("নীতিমালা", "Index", "Home")</li>
                            <li>@Html.ActionLink("নীতিমালা", "Index", "Home")</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 footer-panel">
                <div class="panel panel-primary">
                    <div class="panel-heading">Panel Heading</div>
                    <div class="panel-body foot-panel-links">
                        <ul>
                            <li>@Html.ActionLink("নীতিমালা", "Index", "Home")</li>
                            <li>@Html.ActionLink("নীতিমালা", "Index", "Home")</li>
                            <li>@Html.ActionLink("নীতিমালা", "Index", "Home")</li>
                            <li>@Html.ActionLink("নীতিমালা", "Index", "Home")</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 footer-panel">
                <div class="panel panel-primary">
                    <div class="panel-heading">Panel Heading</div>
                    <div class="panel-body foot-panel-links">
                        <ul>
                            <li>@Html.ActionLink("নীতিমালা", "Index", "Home")</li>
                            <li>@Html.ActionLink("নীতিমালা", "Index", "Home")</li>
                            <li>@Html.ActionLink("নীতিমালা", "Index", "Home")</li>
                            <li>@Html.ActionLink("নীতিমালা", "Index", "Home")</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 footer-panel">
                <div class="panel panel-primary">
                    <div class="panel-heading">Panel Heading</div>
                    <div class="panel-body foot-panel-links">
                        <ul>
                            <li>@Html.ActionLink("নীতিমালা", "Index", "Home")</li>
                            <li>@Html.ActionLink("নীতিমালা", "Index", "Home")</li>
                            <li>@Html.ActionLink("নীতিমালা", "Index", "Home")</li>
                            <li>@Html.ActionLink("নীতিমালা", "Index", "Home")</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
