<div class="container" id="header-content">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="col-md-2 col-sm-2">
                <img id="logo" src="#" alt="Logo" />
            </div>
            <div class="col-md-10 col-sm-10" style="padding-left: 5px;">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="col-md-10 col-sm-10">
                            <div id="ins-name-address">
                                <h2>Goara Hafizur Rahman Secondary School</h2>
                                <div class="css-reset">
                                    <h4>বাঘা, রাজশাহী</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-2">
                            <a href="#"><i class="fa fa-twitter fa-2x"></i></a>
                            <a href="#"><i class="fa fa-google-plus fa-2x"></i></a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div id="nav-bar">
                            <ul id="menu-bar">
                                <li>
                                    @Html.ActionLink("হোম", "Index", "Home")
                                </li>
                                <li>
                                    <a href="">পরিচিতি&nbsp;<span class="caret"></span></a>
                                    <ul class="submenu-bar">
                                        <li>@Html.ActionLink("প্রতিষ্ঠানের ইতিহাস", "Index", "Home")</li>
                                        <li>@Html.ActionLink("প্রতিষ্ঠান পরিচিতি", "Index", "Home")</li>
                                        <li>@Html.ActionLink("কমিটির তথ্য", "Index", "Home")</li>
                                        <li>@Html.ActionLink("শিক্ষকের তথ্য", "Index", "Home")</li>
                                        <li>@Html.ActionLink("শিক্ষার্থীর তথ্য", "Index", "Home")</li>
                                        <li>@Html.ActionLink("সম্পদের বিবরন", "Index", "Home")</li>
                                        <li>@Html.ActionLink("স্যানিটেশন", "Index", "Home")</li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="">ভর্তি তথ্য&nbsp;<span class="caret"></span></a>
                                    <ul class="submenu-bar">
                                        <li>@Html.ActionLink("ভর্তি তথ্য", "Index", "Home")</li>
                                        <li>@Html.ActionLink("আবেদনপত্র", "Index", "Home")</li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="">চাকরির তথ্য&nbsp;<span class="caret"></span></a>
                                    <ul class="submenu-bar">
                                        <li>@Html.ActionLink("নিয়োগ বিজ্ঞপ্তি", "Index", "Home")</li>
                                        <li>@Html.ActionLink("আবেদনপত্র", "Index", "Home")</li>
                                    </ul>
                                </li>
                                <li>
                                    @Html.ActionLink("নোটিশ", "Index", "Home")
                                </li>
                                <li>
                                    <a href="">একাডেমিক&nbsp;<span class="caret"></span></a>
                                    <ul class="submenu-bar">
                                        <li>@Html.ActionLink("নীতিমালা", "Index", "Home")</li>
                                        <li>@Html.ActionLink("পঠিত বিষয়", "Index", "Home")</li>
                                        <li>@Html.ActionLink("কম্পিউটার ল্যাব", "Index", "Home")</li>
                                        <li>@Html.ActionLink("মাল্টিমিডিয়া ক্লাসরুম", "Index", "Home")</li>
                                        <li>@Html.ActionLink("যানবাহন", "Index", "Home")</li>
                                        <li>@Html.ActionLink("ক্লাস রুটিন", "Index", "Home")</li>
                                        <li>@Html.ActionLink("ছুটির তালিকা", "Index", "Home")</li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="">গ্যালারী&nbsp;<span class="caret"></span></a>
                                    <ul class="submenu-bar">
                                        <li>@Html.ActionLink("ফটো গ্যালারী", "About", "Home")</li>
                                        <li>@Html.ActionLink("ভিডিও গ্যালারী", "About", "Home")</li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="">রেজাল্ট&nbsp;<span class="caret"></span></a>
                                    <ul class="submenu-bar">
                                        <li>@Html.ActionLink("ভর্তি পরীক্ষা", "Index", "Home")</li>
                                        <li>@Html.ActionLink("একাডেমিক পরীক্ষা", "Index", "Home")</li>
                                        <li>@Html.ActionLink("পাবলিক পরীক্ষা", "Index", "Home")</li>
                                    </ul>
                                </li>
                                <li>
                                    @Html.ActionLink("যোগাযোগ", "Contact", "Home")
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>