
        <div class="col-md-12 col-sm-12">
            <div class="col-md-2 col-sm-2" id="sidebar-left">
                @Html.Partial("_SidebarLeftPartial")
            </div>
            <div class="col-md-8 col-sm-8">
                @Html.Partial("_SliderPartial")
                @Html.Partial("_ContentPartial")
            </div>
            <div class="col-md-2 col-sm-2" id="sidebar-right">
                @Html.Partial("_SidebarRightPartial")
            </div>
        </div>
        <div class="col-md-12 col-sm-12">
            @Html.Partial("_FacMemberMsgPartial")
        </div>
        <div class="col-md-12 col-sm-12">
            @Html.Partial("_TeacherInfoSliderPartial")
        </div>