@model IEnumerable<SMS.Models.CourseGroup>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ClassOrYears.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseContents.CourseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TeacherInfo.EmployeeCatagoryId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GroupId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TeacherId1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TeacherId2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Capacity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SectionGroup)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DayTimeSlot)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sex)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ClassOrYears.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourseContents.CourseName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TeacherInfo.EmployeeCatagoryId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GroupId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TeacherId1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TeacherId2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Capacity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StudentCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SectionGroup)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DayTimeSlot)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sex)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
