@model IEnumerable<SMS.Models.StudentAccount>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@*<table class="table" id="T1">*@

    <table class="table table-striped table-bordered table-hover dataTable dtr-inline" data-page-length='10' id="T1">
        <thead>

            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NidOrBirtgRegNo)
                </th>
                <th>
                    Name
                    @*@Html.DisplayNameFor(model => model.FirstName)*@
                </th>
                @*<th>
                    @Html.DisplayNameFor(model => model.LasttName)
                </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.DateOfBirth)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ClassOrYears.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Gorups.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ClassRollNo)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Shift)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Section)
                </th>
                @*<th>
                    @Html.DisplayNameFor(model => model.MobileNumber)
                </th>*@

                <th>
                    @Html.DisplayNameFor(model => model.PresentAddress)
                </th>


                <th></th>
            </tr>


        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NidOrBirtgRegNo)
                    </td>
                    <td>
                       @{
                           var name = (item.FirstName != "" || item.FirstName != null ? item.FirstName + " " : "") +
                                      (item.LasttName != "" || item.LasttName != null ? item.LasttName + " " : "");
                                                                                         
                       }
                        @name
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.LasttName)
                    </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.DateOfBirth)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClassOrYears.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Gorups.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClassRollNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Shift)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Section)
                    </td>

                    @*<td>
                        @Html.DisplayFor(modelItem => item.MobileNumber)
                    </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.PresentAddress)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.AccountId }) 
                        @*@Html.ActionLink("Details", "Details", new { id = item.AccountId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.AccountId })*@
                    </td>
                </tr>
            }

        </tbody>
    </table>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function () {
            $('#T1').DataTable({
                "order": [[0, "desc"]]
            });
        });


    </script>
}